*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body{
    background-image: url(/images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257deg 40% 49%);
}
